/* .box{

    background-color: white;
    padding: 2%;
    
}


 .container-fluid{
    background-image:  url("../../../assets/newambalaza.jpg"); 
    background-size: cover;
    padding-top: 5%;
    padding-left: 20%;
    padding-Right: 20%;
    padding-bottom:3% ;
} */
.card {
  max-width: 400px;
}

.example-header-image {
  background-image: url("../../../assets/baker.png");
  background-size: cover;
}


.card-img-top {
  object-fit: contain !important;
}



.card {
  margin-left: 2%;
  margin-top: 3%;
  margin-bottom: 2%;
  padding: 2%;
  opacity: 0.85;

}

.card-img-top {
  margin-left: 30%;
}


.btn {
  margin-left: 25%;
  margin-top: 2%;
  color: white;
  background-color: #bb5098 !important;
}


.container-fluid {
  padding-bottom: 2%;
  background-image: url("../../../assets/adam-wilson-6ZZh8kOyW-4-unsplash.jpg");
  background-size: cover;

}