<div class="box">
  <h5>Unesite novi dug</h5>
  <form #myForm="ngForm" (ngSubmit)="submitCompany(myForm.form);">
    <p>Iznos
      <mat-form-field class="w-100" appearance="outline">
        <input matInput type="number" class="h-100" name="iznos" required ngModel #iznos="ngModel">
      </mat-form-field>
    </p>

    <p>Opis
      <mat-form-field class="w-100" appearance="outline">

        <input matInput placeholder="Unesite zeljeni opis" name="opis" ngModel #opis="ngModel">
      </mat-form-field>
    </p>
    <p>Datum
      <mat-form-field class="w-100" appearance="outline">
        <input matInput required [matDatepicker]="picker" (dateChange)="dateChanged($event)">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </p>
    <br>

    <button class="btn " [disabled]="!myForm.valid">Dodaj</button>
  </form>

</div>