
<div class="container-fluid">
   <div class="row">
      <div class="col-lg-6  col-sm-12">
         <h5 *ngIf='ambalaza.length!=0'>Pricinovic</h5>
<table  class="table  table-sm" *ngIf='ambalaza.length!=0' >
   <thead class="thead-light">

<th scope="col">Duznik</th>
<th scope="col">Flase</th>
<th scope="col">Gajba</th>

    </thead>
  <tbody>
  <tr  *ngFor='let student of ambalaza'>
     <td>
    
      {{student.returned}}
     </td>
   
     
     <td>
    
        {{student.flase}}
       </td>
       <td>

        {{student.gajba}}
       </td>
 
     </tr>
  </tbody>
</table>
<br>
<br>


</div>

<div class="col-lg-6 col-sm-12">
   
   <h5 *ngIf='ambalazaglusci.length!=0'>Glusci</h5>
   <table  class="table  table-sm" *ngIf='ambalazaglusci.length!=0' >
      <thead class="thead-light">
   
   <th scope="col">Duznik</th>
   <th scope="col">Flase</th>
   <th scope="col">Gajba</th>
   
       </thead>
     <tbody>
     <tr  *ngFor='let s of ambalazaglusci'>
        <td>
       
         {{s.returned}}
        </td>
      
        
        <td>
       
           {{s.flase}}
          </td>
          <td>
   
           {{s.gajba}}
          </td>
    
        </tr>
     </tbody>
   </table>
   <br>
   <br>
   
   
   </div>
</div>
</div>