#loginimage{
    height: 5%;
    width: 5%;
    margin-left: 0%;
    
}


.navbar{
  
    color:#17224d  !important;

    padding: 1%;
    padding-left: 2%;
}
.headermarket{
    font-size: 17pt;
    margin-left: 5%;
    font-weight: bold;
    
    margin-bottom: 0rem;
    
}
.headerstore{
    font-size: 11pt;
    margin-left: 5%;
}
.nav-link{
font-size: 13pt;
}

.nav-addition{
    padding: 0% !important;
    background-color: rgb(67, 70, 70) !important;
}
.active{
    color:white  !important;
}

.storediv{
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;

}

.dropdown-menu{
    right: 0 !important;
    background-color: rgb(255, 255, 255);
}
.navbar-header{
    text-align: center !important;
}
.btn-dark{
padding: 0.2% !important;

}
.hi{
    margin-left: 2%;
}