


.table{
    margin-top: 5%;   
    border-collapse: collapse;
     width: 80%; 
     
    margin-left: 10%;
    font-size: 0.8em;
    font-family: sans-serif;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
   }
   
@media screen and (max-width: 600px) { 
 
    .table{
        margin-top: 5%;   
        border-collapse: collapse;
         width: 95%; 
        margin-left: 7.5%;
        font-family: sans-serif;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
       }


}

td:last-of-type{
    padding-right: 0% !important;
    padding-left: 0% !important;
    padding-top: 1% !important;
    padding-bottom: 1% !important;
}

td{
    padding: 1% !important;
   }

   th{
    padding: 1% !important;
   }






 .btn{
    float: right;
  margin-right: 1%;
    }