/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@500&display=swap');
html, body {
  font-family: 'Exo', sans-serif !important;
}

.rozetekst{
    color: #bb5098;
  }

  .rozepozadina{
    background-color: #bb5098;
  }

  .ljubicastitekst{
    color: #7a5197;
  }

  .ljubicastipozadina{
    background-color: #7a5197;
  }

  .zutatekst{
    color: #fef48b;
  }

  .zutapozadina{
    background-color: #fef48b;
  }

  .plavatekst{
    color: #5344a9;
  }

  .plavapozadina{
    background-color: #5344a9;
  }
  .narandzastatekst{
    color: #f47f6b;
  }

  .narandzastapozadina{
    background-color: #f47f6b;
  }

  .fa:hover{
    color: #5344a9 !important;
    cursor: pointer; 
  }